
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

    @*font awesome icon for sidebar*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link href="~/Content/AdminSigninStyle.css" rel="stylesheet" type="text/css" />
    <style>
        @@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
    </style>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                @*Login Form*@
                <form action="/admin/login" method="post" class="sign-in-form">
                    @*To display error like invalid password or email id already exist*@
                    <h2>@Session["Error"]</h2>

                    <h2 class="title">Sign in</h2>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" name="email" placeholder="Email" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" placeholder="Password" required />
                    </div>
                    <button type="submit" style="border: none;"><input type="submit" value="Login" class="btn solid" /></button>
                    
                    <h3 style="margin-top:15px;"><a class="link" href="/user/login">User Login?</a></h3>
                </form>


                @*Register Form*@
                <form action="/admin/register" method="post" class="sign-up-form">
                    <h2>@Session["Error"]</h2>
                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" name="name" placeholder="Name" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" name="email" placeholder="Email" required />
                    </div>    
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" name="branch" placeholder="Admin Branch" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-phone"></i>
                        <input type="text" name="mobile" placeholder="Phone" maxlength="10" minlength="10" pattern="[0-9.]+" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" placeholder="Password" required />
                    </div>
                    <button type="submit" style="border: none;"><input type="submit" class="btn" value="Sign up" /></button>   
                </form>
            </div>  
        </div>

        @*Animation Panel*@
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New User?</h3>
                    <p>

                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        Sign up
                    </button>
                </div>
                <img src="img/log.svg" class="image" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Already registered?</h3>
                    <p>

                    </p>
                    <button class="btn transparent" id="sign-in-btn">
                        Sign in
                    </button>
                </div>
                <img src="img/register.svg" class="image" alt="" />
            </div>
        </div>
    </div>


    <script>
        //javascript for animation
        const sign_in_btn = document.querySelector("#sign-in-btn");
        const sign_up_btn = document.querySelector("#sign-up-btn");
        const container = document.querySelector(".container");

        sign_up_btn.addEventListener("click", () => {
            container.classList.add("sign-up-mode");
        });

        sign_in_btn.addEventListener("click", () => {
            container.classList.remove("sign-up-mode");
        });
    </script>
</body>
</html>



